<div class="tree-toolbox">
    <p-button (onClick)="onCreateFolderClicked($event)" id="create-folder-button" label="Create folder" icon="pi pi-plus"></p-button>
    <p-button (onClick)="onMoveFolder($event)" label="Move folder" icon="pi pi-arrow-down-right" [disabled]="true"></p-button>
</div>
<p-tree class="explorer-tree" [value]="treeNodes" selectionMode="single" 
        [(selection)]="selectedNode" (onNodeExpand)="onFolderExpanded($event)" (onNodeSelect)="onNodeSelected.emit()">
    <ng-template let-node pTemplate="default">
        <input (keydown)="onTreeInput($event, node)" *ngIf="node.data && node.data.editing" [(ngModel)]="node.label" type="text" style="width:100%">
        <span *ngIf="node.data && !node.data.editing">{{node.label}}</span>
    </ng-template>
</p-tree>