main {
    margin: 10px;
}

.path-bar {
    width: 100%;
}

.path-input {
    width: 92.5%;
}

nav > p-button {
    margin-left: 0.5em;
}

.explorer {
    margin-top: 1em;
    position: absolute;
    height: 100%;
    width: 98%;
    display: table;
}

section {
    float: right;
    border: 1px solid blue;
    margin: 0 1.5%;
    width: 78%;
    height: 100%;
}

aside {
    float: left;
    border: 1px solid black;
    width: 19%;
    height: 100%;
}

.tree-toolbox {
    padding: 10px;
}

.explorer-tree {
    height: 90%;
}

#create-folder-button {
    margin-right: 10px;
}